# Python bytecode
*.py[cod]
__pycache__/

# Django migrations
**/migrations/*.py
**/migrations/*.pyc

# Environment variables
.env
/env

# Local SQLite database
db.sqlite3

# Media files
media/

# Static files
static/